@media only screen and (max-width: 768px) {/*768px and down*/
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
  opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
  }
  .top-nav-bar{
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .nav-center{
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    background-color: rgba(49, 40, 125, 0.8);
  }
  .nav-center.active{
    left:  0;
  }
  .content-100vh{
    height: 70vh;
    width: 100%;
  }
  .img-wrapper{
    width: 768px;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .flex-justify-center{
    flex-direction: column;
    align-items: center;
  }
  .flex-justify-center>img,.flex-justify-center>p,.skills{
    margin-bottom: 3%;
  }
  .hide{
    opacity: 1;
  }
  .max-1500{
    width: 768px;
  }
  center>.flex{
    display: block;
  }
  .projects.button-radius{
    padding: 10px;
  }
  .icon-radius-50 {
    padding: 1.5px;
    border-radius: 50%;
    width: 6%;
}
  /*.img-wrapper > img{
    display: none;
    }

/********************Headings, P********************/
.font-1p5vw{
  font-size: 3vw;
}
.font-2vw{
  font-size: 4vw;
}
.font-2p5vw{
  font-size: 3.5vw;
}
.font-3vw{
  font-size: 5vw;
}
.project > p{
  font-size: 2.5vw;
  text-align: justify;
}
.flex-column>h3{
  font-size: 4vw;
  margin-bottom: 3%;
}
.flex-column>ul>li{
  font-size: 3vw;
}}
@media only screen and (max-width: 600px) /*600px and down*/{
  .icon-radius-50{
    padding: 2px;
    border-radius: 50%;
    width: 10%;
  }
  .projects.button-radius> a{
    font-size: 2vw;
  }
  .width-20{
    width: 30%;
  }
}