*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	background-image: linear-gradient(to right, #31287d, #72297d);	
	font-family: Montserrat, Roboto;
}
a{
	text-decoration: none;
}
/********************Nav********************/
.top-nav-bar{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 2.5rem;
	display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}
.bar-item-button{
	padding: 1rem;
	text-decoration: none;
}
.logo{
	padding: 0.5rem;
	border: 2px solid white;
	text-decoration: none;
}
.nav-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.bar-item-button:nth-child(1){
	margin-right: 1em;
}
.bar-item-button:nth-child(2){
	margin-right: 1em;
}
.bar-item-button:nth-child(3){
	margin-right: 1em;
}
/********************Hamburger********************/
.hamburger{
	display: none;
	cursor:  pointer;
}
.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition:  all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #F9F871;
}
/********************Arrow********************/
.arrow{
	z-index: -1;
	position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}
.arrow>span{
  width: 10px;
  height: 40px;
  background:white;
  border-radius:5px;
  margin: 6px;
  animation: move 1.1s infinite ease-in-out;
}
.arrow>span:nth-of-type(1){
  transform: rotate(-45deg);
}
.arrow>span:nth-of-type(2){
  transform: rotate(45deg);
}
@keyframes move{
  0%{margin-bottom:0;}
  50%{margin-bottom:50px;}
  100%{margin-bottom:0;}
}
#back-to-top-btn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 26px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	color: #F9F871;
	cursor: pointer;
	outline: none;
	border: none;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, color;
	z-index: 200;
}
#back-to-top-btn:hover, #back-to-top-btn:focus{
	opacity: 0.5;
}
/********************Content********************/
.hidden{
	opacity: 0;
}
div{
	transition: opacity 2s ease;
}
.content-100vh{
	position: relative ;
	height: 100vh;
	width:  100%;
	overflow: hidden;
}
.content{
	position: relative;
	height: auto;
	width:  100%;
	overflow: hidden;
}
.content-100{
	height: auto;
	padding: 5% 10% 5% 10%;
}
.vh-auto{
	height: auto;
	width:  100%;
}
.index.content-100vh{
	display: flex;
}
.absolute-top-0{
	position: absolute;
	top: 0; 
	z-index: -2;
}
.img-parallax-container> img{
	position: absolute;
	height: auto;
}
.index.title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10em;
}
.header.title{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header.img-parallax-container{
	width: 100%;
	height: 100%;
}
.certificate{
	width: 100%;
	height: auto;
}
.col{
	flex: 50%;
	padding: 1%;
}
.img-wrapper{
	position: absolute;
	width: 100%;
	height: auto;
}
.img-wrapper>img{
	position: absolute;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text-align-center{
	text-align: center;
}
.padding-10{
	padding:10px;
}
.width-20{
	width: 20%;
}
.width-30{
	width: 30%;
}
.width-50{
	width: 50%;
}
.max-1500{
	max-width: 1500px;
 	height: auto;
}
.flex{
	display: flex;
}
.justify-center{
	justify-content: center;
}
.flex-justify-center{
	display: flex;
	justify-content: space-evenly;
}
.flex-column{
	display: flex; 
	flex-direction: column;
}
.flex-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-column>h3{
	font-size: 2vw;
}
.flex-column>ul>li{
	font-size: 1.5vw;
	list-style-type: none;
}
/********************Titles********************/
.index.title>h1{
	font-size: 5vw;
}
.index.title>h1,.index.title>h2{
	text-shadow: 0px 2px 5px #2E2E2E;
}
.header.title>h1{
	font-size: 15vw;
	font-weight: normal;
	letter-spacing: 5px;
	text-shadow: 0px 2px 5px #2E2E2E;
}
.header.title>h2{
	font-size: 8vw;
	font-weight: normal;
	text-align: center;
	text-shadow: 0px 2px 5px #2E2E2E;
}
.underline{
	text-decoration: underline;
	text-decoration-color: #F9F871;
	text-decoration-style: wavy;
	text-underline-offset: 0.5em;
}
/********************Headings, P********************/
.font-1p5vw{
	font-size: 1.5vw;
}
.font-2vw{
	font-size: 2vw;
}
.font-2p5vw{
	font-size: 2.5vw;
}
.font-3vw{
	font-size: 3vw;
}
.project > p{
	font-size: 1.5vw;
	text-align: justify;
}
.project>h2:hover{
	opacity: 0.5;
	transition: 0.5s opacity;
	cursor: pointer;
}
.lighter{
	font-weight: lighter;
}
/********************Colors********************/
.bg-purple{
	background-color:#892375;
}
.bg-magenta{
	background-color: #CD406A;
}
.bg-orange{
	background-color: #F67759;
}
.bg-white{
	background-color: white;
}
.white{
	color: white;
}
.yellow{
	color: #F9F871;
}
.orange{
	color: #F67759;
}
/********************Margins********************/
.margin-bottom-4{
	margin-bottom: 4%;
}
.margin-top-4{
	margin-top: 4%;
}
.margin-top-2{
	margin-top: 2%;
}
/********************Images********************/
.align-self{
	align-self: center;
}
.box-shadow{
	box-shadow: 1px 1px 10px -3px rgba(0,0,0,0.75);
}
/********************Buttons********************/
.index.button-radius{
	border: 1.5px solid white;
}
.projects.button-radius{
	border: 2px solid #F67759;
}
.projects.button-radius> a{
	font-size: 1.5vw;
	font-weight: bold;
}
.button-radius{
	border-radius: 10px;
	background-color: transparent;
	padding: 1em;
}
.button-radius:hover{
	opacity: 0.5;
}
.button-radius:hover +.hide{
	opacity: 1;
}
.button-radius>a{
	text-decoration: none;
}
/********************Hide********************/
.hide{
	opacity: 0;
	transition: opacity 2s;
}
.display-none{
	display: none;
}
.behind{
	z-index: -1;
}
/********************Footer********************/
.footer{
	padding: 1em;
	overflow: hidden;
	width: 100%;
}
.footer>.link-wrapper{
	text-align: center;
}
.icon-radius-50{
	border: 1.5px solid white;
	padding: 5px;
	border-radius: 50%;
	width: 3%;
}
.icon-radius-50:hover{
	opacity: 0.50;
	transition: 0.5s;
}